.greenlight{
    background-color: green;
    color: gold;
    border-radius: 20px;
}

.redlight{
    background-color: red;
    color: white;
     border-radius:100px;
}

.orangelight{
    background-color: yellow;
    color: black;
     border-radius: 20px;
}

.ngclassnb{
    background-color: mediumaquamarine;
border-radius: 20px;
border-color: black;
box-shadow: tomato;
    color: brown;

}