/* .greenlight{
    background-color: green;
    color: black;
    border-radius: 20px;
}

.redlight{
    background-color: red;
    color: white;
     border-radius:100px;
}

.orangelight{
    background-color: orange;
    color: black;
     border-radius: 20px;
} */